server:
    port: 9001

spring:
    application:
        name: nacos-payment-provider
    cloud:
        nacos:
            discovery:
                server-addr: 192.168.0.252:1111

management:
    endpoints:
        web:
            exposure:
                include: '*'